body{
    font-family: Poppins;
}


#home-banner{
   position: relative;
}

#home-banner:before{
    content: ' ';
    display: block;
    position: absolute;
    opacity: 0.3;

    background-image: url('../img/home-banner.jpg');
    background-position: center center;
    background-size: cover;
    width: 1115px;
    height: 500px;
}


#homebanner-text1{
    position: relative;
    left: 420px;
    font-size: small;
    top: 110px;
}

#homebanner-text2{
    position: relative;
    left: 250px; 
    font-weight: bold;
    top:120px;
}

#homebanner-text3{
    position: relative;
    font-size: small;
    left: 310px;
    top:130px;
}

#homebanner-text4{
    position: relative;
    font-size: small;
    left: 440px;
    top:108px;
    
}

#donatenow-button{
    width: 150px;
    height: 40px;
    top: 130px;
    left: 400px;

    text-align: center;
    color:white;
    position: relative;
    font-weight: bolder; 
    text-align: center;
    background-color: lightseagreen;
}

#viewactivity-button{
    width: 150px;
    height: 40px;
    top: 130px;
    left: 410px;

    text-align: center;
    color:black;
    position: relative;
    font-weight: bolder; 
    text-align: center;
    background-color: transparent;
}

#update-box{
    position: relative;
    top:239px;
    left: 80px;
    height: 120px;
    width: 280px;
    background-color: black;
    
}
#vol-box{
    position: relative;
    top: 119px;
    left: 440px;
    height: 120px;
    width: 280px;
    background-color: lightseagreen;
}

#don-box{
    position: relative;
    left: 800px;
    height: 120px;
    width: 280px;
    background-color: black;
    
    
}


#cause-box1,#cause-box2,#cause-box3{
    position: relative;
    height: 298px;
    width: 278px;
    background-color: white;
}

#cause-box1{
    top: 80px;
    left: 80px;
}

#cause-box2{
    top: -220px;
    left:420px;
}

#cause-box3{
    top: -520px;
    left:760px;
}

#feature{
    position: relative;
}

#feature:before{
    content: ' ';
    display: block;
    position: absolute;
    filter:brightness(30%);


    background-image: url(../img/feature-bg.jpg);
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 800px;
}

#feature-heading{
    position: relative;
    font-weight: bolder;
    color:white;
    left: 200px;
}

#feature-text{
    position: relative;
    font-weight: bold;
    color:white;
    text-align: center;
    font-size: small;
    left:10px;
}

#feature-card1,#feature-card2,#feature-card3,#feature-card4,#feature-card5,#feature-card6{
    position: relative;
    width: 250px;
    height: 180px;
    background-color: white;
}

#feature-card1{
    top: 300px;
    left: 100px;
}
#feature-card2{
    top: 120px;
    left: 400px;
}
#feature-card3{
    left: 700px;
    top:-60px;
}

#feature-card4{
    left: 100px;
    top: -20px;
}

#feature-card5{
    left: 400px;
    top: -200px;
}

#feature-card6{
    left: 700px;
    top: -380px;
}

#volunteer-page{
    background-image: url(../img/volunteer-bg.jpg);
    width: 100%;
    height: 660px;
    background-size: contain;
    background-position: center;
    text-align: center;
}

::placeholder { 
    color: white;
    opacity: 1; 
}

.float-child {
    float: left;
    padding: 10px;
}  
